In [68]:
import pandas as pd

In [69]:
df =pd.read_csv('diamonds.csv')
print(df)

       Unnamed: 0  carat        cut color clarity  depth  table   price     x  \
0               1   0.23        NaN     E     SI2   61.5   55.0     NaN  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0     NaN  3.89
2               3   0.23       Good     E     VS1    NaN   65.0   327.0  4.05
3               4   0.29    Premium     I     NaN   62.4   58.0   334.0  4.20
4               5   0.31       Good     J     SI2   63.3   58.0     NaN  4.34
...           ...    ...        ...   ...     ...    ...    ...     ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

In [70]:
column = df.columns
print(column)

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [71]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
print(df)

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23        NaN     E     SI2   61.5   55.0     NaN  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0     NaN  3.89  3.84  2.31
2       0.23       Good     E     VS1    NaN   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     NaN   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0     NaN  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [72]:
col_dtypes = df.dtypes
print(col_dtypes)

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price      float64
x          float64
y          float64
z          float64
dtype: object

In [73]:
cut_column_detailing = df['cut'].unique()
print(cut_column_detailing)

[nan 'Premium' 'Good' 'Very Good' 'Fair' 'Ideal']

In [74]:
cut_category_count = df['cut'].nunique()
print(cut_category_count)

5

In [75]:
total_category_count = df['cut'].value_counts()
print(total_category_count)

cut
Ideal        21550
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [76]:
finding_null = df.isna()
print(finding_null)

       carat    cut  color  clarity  depth  table  price      x      y      z
0      False   True  False    False  False  False   True  False  False  False
1      False  False  False    False  False  False   True  False  False  False
2      False  False  False    False   True  False  False  False  False  False
3      False  False  False     True  False  False  False  False  False  False
4      False  False  False    False  False  False   True  False  False  False
...      ...    ...    ...      ...    ...    ...    ...    ...    ...    ...
53935  False  False  False    False  False  False  False  False  False  False
53936  False  False  False    False  False  False  False  False  False  False
53937  False  False  False    False  False  False  False  False  False  False
53938  False  False  False    False  False  False  False  False  False  False
53939  False  False  False    False  False  False  False  False  False  False

[53940 rows x 10 columns]

In [77]:
finding_null = df.isna().sum()
print(finding_null)

carat      0
cut        1
color      0
clarity    1
depth      2
table      0
price      3
x          0
y          0
z          0
dtype: int64

In [78]:
finding_null=df.isna().sum().sum()
print(finding_null)

7

In [79]:
df.fillna(1000,inplace=True)
print(df)

       carat        cut color clarity   depth  table   price     x     y     z
0       0.23       1000     E     SI2    61.5   55.0  1000.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1    59.8   61.0  1000.0  3.89  3.84  2.31
2       0.23       Good     E     VS1  1000.0   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I    1000    62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2    63.3   58.0  1000.0  4.34  4.35  2.75
...      ...        ...   ...     ...     ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1    60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1    63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1    62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2    61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2    62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [64]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(['index'],axis=1,inplace=True)
print(df)

       carat        cut color clarity  depth  table   price     x     y     z
0       0.24  Very Good     J    VVS2   62.8   57.0   336.0  3.94  3.96  2.48
1       0.24  Very Good     I    VVS1   62.3   57.0   336.0  3.95  3.98  2.47
2       0.26  Very Good     H     SI1   61.9   55.0   337.0  4.07  4.11  2.53
3       0.22       Fair     E     VS2   65.1   61.0   337.0  3.87  3.78  2.49
4       0.23  Very Good     H     VS1   59.4   61.0   338.0  4.00  4.05  2.39
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53929   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53930   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53931   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53932   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53933   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53934 rows x 10 columns]

In [66]:
finding_null = df.isna().sum().sum()
print(finding_null)

0