# PreProcessing Techniques

In [1]:
import pandas as pd

# Time Series

In [2]:
df = pd.read_csv("Financials.csv", parse_dates=['Date'], index_col=['Date'])

# Finding Missing Values

In [3]:
df.isna().sum()

Segment                  0
Country                  0
 Product                 0
 Discount Band           0
 Units Sold              0
 Manufacturing Price     0
 Sale Price              0
 Gross Sales             0
 Discounts               0
  Sales                  0
 COGS                    0
 Profit                  0
Month Number             0
 Month Name              0
Year                     0
dtype: int64

# Finding Duplicates

In [4]:
df.duplicated().sum()

np.int64(0)

# Dropping Unnecessary Columns

In [5]:
df.drop(['Month Number',' Month Name ', 'Year'],axis=1,inplace=True)

In [6]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-01,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00"
2014-01-01,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00"
2014-01-06,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00"
2014-01-06,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00"
2014-01-06,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00"
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-03,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00"
2014-01-10,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00"
2014-01-02,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60"
2014-01-04,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85
2014-01-05,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 700 entries, 2014-01-01 to 2014-01-05
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
dtypes: object(12)
memory usage: 71.1+ KB

In [8]:
df.describe()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
count,700,700,700,700,700,700,700,700,700,700,700,700
unique,5,5,6,4,510,6,7,550,515,559,545,557
top,Government,Canada,Paseo,High,$727.00,$10.00,$20.00,"$4,404.00",$-,"$69,402.00","$17,430.00",$-
freq,300,140,202,245,5,202,100,3,53,2,4,5

In [9]:
df['Segment'].unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

In [10]:
df['Country'].unique()

array(['Canada', 'Germany', 'France', 'Mexico',
       'United States of America'], dtype=object)

In [11]:
df[' Product '].unique()

array([' Carretera ', ' Montana ', ' Paseo ', ' Velo ', ' VTT ',
       ' Amarilla '], dtype=object)

In [12]:
df[' Discount Band '].unique()

array([' None ', ' Low ', ' Medium ', ' High '], dtype=object)

In [13]:
df[' Manufacturing Price '].unique()

array([' $3.00 ', ' $5.00 ', ' $10.00 ', ' $120.00 ', ' $250.00 ',
       ' $260.00 '], dtype=object)

In [14]:
df[' Sale Price '].unique()

array([' $20.00 ', ' $15.00 ', ' $350.00 ', ' $12.00 ', ' $125.00 ',
       ' $300.00 ', ' $7.00 '], dtype=object)

# Type Casting

In [15]:
df[' Units Sold '] = df[' Units Sold '].replace({r"[^\d.]":""},regex=True).astype(float)
df[' Units Sold ']

Date
2014-01-01    1618.5
2014-01-01    1321.0
2014-01-06    2178.0
2014-01-06     888.0
2014-01-06    2470.0
               ...
2014-01-03    2475.0
2014-01-10     546.0
2014-01-02    1368.0
2014-01-04     723.0
2014-01-05    1806.0
Name:  Units Sold , Length: 700, dtype: float64

In [16]:
df[' Manufacturing Price '] = df[' Manufacturing Price '].replace({r"[^\d.]":""},regex=True).astype(float)
df[' Manufacturing Price ']

Date
2014-01-01      3.0
2014-01-01      3.0
2014-01-06      3.0
2014-01-06      3.0
2014-01-06      3.0
              ...
2014-01-03    260.0
2014-01-10    260.0
2014-01-02      5.0
2014-01-04     10.0
2014-01-05    250.0
Name:  Manufacturing Price , Length: 700, dtype: float64

In [17]:
df[' Sale Price '] = df[' Sale Price '].replace({r"[^\d.]":""},regex=True).astype(float)
df[' Sale Price ']

Date
2014-01-01     20.0
2014-01-01     20.0
2014-01-06     15.0
2014-01-06     15.0
2014-01-06     15.0
              ...
2014-01-03    300.0
2014-01-10    300.0
2014-01-02      7.0
2014-01-04      7.0
2014-01-05     12.0
Name:  Sale Price , Length: 700, dtype: float64

In [18]:
df[' Gross Sales '] = df[' Gross Sales '].replace({r"[^\d.]":""},regex=True).astype(float)
df[' Gross Sales ']

Date
2014-01-01     32370.0
2014-01-01     26420.0
2014-01-06     32670.0
2014-01-06     13320.0
2014-01-06     37050.0
                ...
2014-01-03    742500.0
2014-01-10    163800.0
2014-01-02      9576.0
2014-01-04      5061.0
2014-01-05     21672.0
Name:  Gross Sales , Length: 700, dtype: float64

In [19]:
df[' Discounts '] = df[' Discounts '].replace(r'[^\d.-]', '', regex=True)
df[' Discounts '] = pd.to_numeric(df[' Discounts '],errors='coerce').fillna(0)
df[' Discounts ']

Date
2014-01-01         0.00
2014-01-01         0.00
2014-01-06         0.00
2014-01-06         0.00
2014-01-06         0.00
                ...
2014-01-03    111375.00
2014-01-10     24570.00
2014-01-02      1436.40
2014-01-04       759.15
2014-01-05      3250.80
Name:  Discounts , Length: 700, dtype: float64

In [20]:
df['  Sales '] = df['  Sales '].replace({r'[^\d.]':''},regex=True).astype(float)
df['  Sales ']

Date
2014-01-01     32370.00
2014-01-01     26420.00
2014-01-06     32670.00
2014-01-06     13320.00
2014-01-06     37050.00
                ...
2014-01-03    631125.00
2014-01-10    139230.00
2014-01-02      8139.60
2014-01-04      4301.85
2014-01-05     18421.20
Name:   Sales , Length: 700, dtype: float64

In [21]:
df[' COGS '] = df[' COGS '].replace({r'[^\d.]':''},regex=True).astype(float)
df[' COGS ']

Date
2014-01-01     16185.0
2014-01-01     13210.0
2014-01-06     21780.0
2014-01-06      8880.0
2014-01-06     24700.0
                ...
2014-01-03    618750.0
2014-01-10    136500.0
2014-01-02      6840.0
2014-01-04      3615.0
2014-01-05      5418.0
Name:  COGS , Length: 700, dtype: float64

In [22]:
df[' Profit '] = df[' Profit '].replace(r'[^\d\.\-]','',regex=True)
df[' Profit ']= pd.to_numeric(df[' Profit '],errors='coerce').fillna(0)
df[' Profit ']

Date
2014-01-01    16185.00
2014-01-01    13210.00
2014-01-06    10890.00
2014-01-06     4440.00
2014-01-06    12350.00
                ...
2014-01-03    12375.00
2014-01-10     2730.00
2014-01-02     1299.60
2014-01-04      686.85
2014-01-05    13003.20
Name:  Profit , Length: 700, dtype: float64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 700 entries, 2014-01-01 to 2014-01-05
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    float64
 5    Manufacturing Price   700 non-null    float64
 6    Sale Price            700 non-null    float64
 7    Gross Sales           700 non-null    float64
 8    Discounts             700 non-null    float64
 9     Sales                700 non-null    float64
 10   COGS                  700 non-null    float64
 11   Profit                700 non-null    float64
dtypes: float64(8), object(4)
memory usage: 71.1+ KB

In [24]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-01,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00
2014-01-01,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00
2014-01-06,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.00,21780.0,10890.00
2014-01-06,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00
2014-01-06,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-03,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00
2014-01-10,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00
2014-01-02,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60
2014-01-04,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85
2014-01-05,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20

# Filtering by Country

In [25]:
mexico = df[df['Country']=='Mexico']
mexico

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-06,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.0,37050.0,24700.0,12350.0
2014-01-06,Midmarket,Mexico,Montana,None,2470.0,5.0,15.0,37050.0,0.0,37050.0,24700.0,12350.0
2014-01-08,Small Business,Mexico,Montana,None,958.0,5.0,300.0,287400.0,0.0,287400.0,239500.0,47900.0
2014-01-02,Midmarket,Mexico,Paseo,None,974.0,10.0,15.0,14610.0,0.0,14610.0,9740.0,4870.0
2014-01-08,Government,Mexico,Paseo,None,883.0,10.0,7.0,6181.0,0.0,6181.0,4415.0,1766.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-05,Government,Mexico,Paseo,High,2851.0,10.0,350.0,997850.0,149677.5,848172.5,741260.0,106912.5
2013-01-11,Government,Mexico,Paseo,High,2151.0,10.0,350.0,752850.0,112927.5,639922.5,559260.0,80662.5
2014-01-03,Channel Partners,Mexico,Velo,High,500.0,120.0,12.0,6000.0,900.0,5100.0,1500.0,3600.0
2014-01-10,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.0,139230.0,136500.0,2730.0
2014-01-02,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.4,8139.6,6840.0,1299.6

In [26]:
canada = df[df['Country']=='Canada']
canada

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-01,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00
2014-01-06,Channel Partners,Canada,Montana,None,2518.0,5.0,12.0,30216.0,0.00,30216.00,7554.0,22662.00
2014-01-07,Enterprise,Canada,Montana,None,2665.5,5.0,125.0,333187.5,0.00,333187.50,319860.0,13327.50
2013-01-10,Enterprise,Canada,Montana,None,345.0,5.0,125.0,43125.0,0.00,43125.00,41400.0,1725.00
2014-01-02,Government,Canada,Paseo,None,292.0,10.0,20.0,5840.0,0.00,5840.00,2920.0,2920.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-04,Midmarket,Canada,Paseo,High,1614.0,10.0,15.0,24210.0,3631.50,20578.50,16140.0,4438.50
2014-01-08,Midmarket,Canada,Paseo,High,2559.0,10.0,15.0,38385.0,5757.75,32627.25,25590.0,7037.25
2014-01-07,Government,Canada,VTT,High,865.5,250.0,20.0,17310.0,2596.50,14713.50,8655.0,6058.50
2013-01-11,Enterprise,Canada,VTT,High,2954.0,250.0,125.0,369250.0,55387.50,313862.50,354480.0,40617.50
2014-01-04,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85

# Grouping

In [27]:
df.groupby('Country')[' Product '].count()

Country
Canada                      140
France                      140
Germany                     140
Mexico                      140
United States of America    140
Name:  Product , dtype: int64

In [28]:
df.groupby(['Segment','Country'])[' Product '].count()

Segment           Country
Channel Partners  Canada                      20
                  France                      20
                  Germany                     20
                  Mexico                      20
                  United States of America    20
Enterprise        Canada                      20
                  France                      20
                  Germany                     20
                  Mexico                      20
                  United States of America    20
Government        Canada                      60
                  France                      60
                  Germany                     60
                  Mexico                      60
                  United States of America    60
Midmarket         Canada                      20
                  France                      20
                  Germany                     20
                  Mexico                      20
                  United States of America    20
Small Business    Canada                      20
                  France                      20
                  Germany                     20
                  Mexico                      20
                  United States of America    20
Name:  Product , dtype: int64

In [29]:
df.groupby(['Country',' Product '])[' Profit '].sum()

Country                    Product
Canada                    Amarilla       696526.38
                          Carretera      484425.34
                          Montana        321867.03
                          Paseo         1300635.49
                          VTT            643596.31
                          Velo           411155.84
France                    Amarilla       702882.63
                          Carretera      511672.40
                          Montana        484450.87
                          Paseo          889188.56
                          VTT            716371.09
                          Velo           727922.74
Germany                   Amarilla       674979.76
                          Carretera      480039.68
                          Montana        578188.37
                          Paseo          800601.74
                          VTT            621112.77
                          Velo           806459.00
Mexico                    Amarilla       515183.89
                          Carretera      522713.42
                          Montana        337689.31
                          Paseo          982911.39
                          VTT            601371.21
                          Velo           239053.89
United States of America  Amarilla       468411.41
                          Carretera      290174.05
                          Montana        505611.80
                          Paseo         1065198.28
                          VTT            695636.64
                          Velo           372313.50
Name:  Profit , dtype: float64

In [30]:
df.groupby(['Country'])[' Profit '].sum()

Country
Canada                      3858206.39
France                      4032488.29
Germany                     3961381.32
Mexico                      3198923.11
United States of America    3397345.68
Name:  Profit , dtype: float64

In [31]:
df.groupby(['Country',' Product '])[' Profit '].sum()

Country                    Product
Canada                    Amarilla       696526.38
                          Carretera      484425.34
                          Montana        321867.03
                          Paseo         1300635.49
                          VTT            643596.31
                          Velo           411155.84
France                    Amarilla       702882.63
                          Carretera      511672.40
                          Montana        484450.87
                          Paseo          889188.56
                          VTT            716371.09
                          Velo           727922.74
Germany                   Amarilla       674979.76
                          Carretera      480039.68
                          Montana        578188.37
                          Paseo          800601.74
                          VTT            621112.77
                          Velo           806459.00
Mexico                    Amarilla       515183.89
                          Carretera      522713.42
                          Montana        337689.31
                          Paseo          982911.39
                          VTT            601371.21
                          Velo           239053.89
United States of America  Amarilla       468411.41
                          Carretera      290174.05
                          Montana        505611.80
                          Paseo         1065198.28
                          VTT            695636.64
                          Velo           372313.50
Name:  Profit , dtype: float64

# Final Output

In [32]:
df.to_csv('Processed_Financials.csv')

In [33]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-01,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00
2014-01-01,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00
2014-01-06,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.00,21780.0,10890.00
2014-01-06,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00
2014-01-06,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-03,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00
2014-01-10,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00
2014-01-02,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60
2014-01-04,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85
2014-01-05,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20