In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Financials.csv", parse_dates=['Date'], index_col=['Date'])

In [3]:
df.isna().sum()

Segment                  0
Country                  0
 Product                 0
 Discount Band           0
 Units Sold              0
 Manufacturing Price     0
 Sale Price              0
 Gross Sales             0
 Discounts               0
  Sales                  0
 COGS                    0
 Profit                  0
Month Number             0
 Month Name              0
Year                     0
dtype: int64

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.drop(['Month Number',' Month Name ', 'Year'],axis=1,inplace=True)

In [6]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-01,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00"
2014-01-01,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00"
2014-01-06,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00"
2014-01-06,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00"
2014-01-06,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00"
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-03,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00"
2014-01-10,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00"
2014-01-02,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60"
2014-01-04,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85
2014-01-05,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 700 entries, 2014-01-01 to 2014-01-05
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
dtypes: object(12)
memory usage: 71.1+ KB

In [8]:
df.describe()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
count,700,700,700,700,700,700,700,700,700,700,700,700
unique,5,5,6,4,510,6,7,550,515,559,545,557
top,Government,Canada,Paseo,High,$727.00,$10.00,$20.00,"$4,404.00",$-,"$69,402.00","$17,430.00",$-
freq,300,140,202,245,5,202,100,3,53,2,4,5

In [9]:
df['Segment'].unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

In [10]:
df['Country'].unique()

array(['Canada', 'Germany', 'France', 'Mexico',
       'United States of America'], dtype=object)

In [11]:
df[' Product '].unique()

array([' Carretera ', ' Montana ', ' Paseo ', ' Velo ', ' VTT ',
       ' Amarilla '], dtype=object)

In [12]:
df[' Discount Band '].unique()

array([' None ', ' Low ', ' Medium ', ' High '], dtype=object)

In [13]:
df[' Manufacturing Price '].unique()

array([' $3.00 ', ' $5.00 ', ' $10.00 ', ' $120.00 ', ' $250.00 ',
       ' $260.00 '], dtype=object)

In [14]:
df[' Sale Price '].unique()

array([' $20.00 ', ' $15.00 ', ' $350.00 ', ' $12.00 ', ' $125.00 ',
       ' $300.00 ', ' $7.00 '], dtype=object)

In [15]:
df[' Units Sold '] = df[' Units Sold '].replace({r"[^\d.]":""},regex=True).astype(float)

In [16]:
df[' Manufacturing Price '] = df[' Manufacturing Price '].replace({r"[^\d.]":""},regex=True).astype(float)

In [17]:
df[' Sale Price '] = df[' Sale Price '].replace({r"[^\d.]":""},regex=True).astype(float)

In [18]:
df[' Gross Sales '] = df[' Gross Sales '].replace({r"[^\d.]":""},regex=True).astype(float)

In [19]:
df[' Discounts '] = df[' Discounts '].replace(r'[^\d.-]', '', regex=True)
df[' Discounts '] = pd.to_numeric(df[' Discounts '],errors='coerce').fillna(0)

In [20]:
df['  Sales '] = df['  Sales '].replace({r'[^\d.]':''},regex=True).astype(float)

In [21]:
df[' COGS '] = df[' COGS '].replace({r'[^\d.]':''},regex=True).astype(float)

In [22]:
df[' Profit '] = df[' Profit '].replace(r'[^\d\.\-]','',regex=True)
df[' Profit ']= pd.to_numeric(df[' Profit '],errors='coerce').fillna(0)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 700 entries, 2014-01-01 to 2014-01-05
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    float64
 5    Manufacturing Price   700 non-null    float64
 6    Sale Price            700 non-null    float64
 7    Gross Sales           700 non-null    float64
 8    Discounts             700 non-null    float64
 9     Sales                700 non-null    float64
 10   COGS                  700 non-null    float64
 11   Profit                700 non-null    float64
dtypes: float64(8), object(4)
memory usage: 71.1+ KB

In [24]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
Date,,,,,,,,,,,,
2014-01-01,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00
2014-01-01,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00
2014-01-06,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.00,21780.0,10890.00
2014-01-06,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00
2014-01-06,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-01-03,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00
2014-01-10,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00
2014-01-02,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60
2014-01-04,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85
2014-01-05,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20